.bg-alpha2 {
  background: antiquewhite;
}
html,
body {
  width: 100%;
  height: 100%;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carousel-caption {
  top: 40%;
}

.border-short-bottom {
  position: relative;
  padding: 20px 0;
  margin-bottom: 25px;
}

.border-short-bottom::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  background: #595959;
}
.img-cover {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.blackscreen {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.semi-footer {
  background-color: antiquewhite;
  color: #2b2b2b;
}
.semi-footer a {
  background-color: antiquewhite;
  color: #2b2b2b;
}

.semi-footer h4 {
  color: #2b2b2b;
  border-bottom: 1px solid;
  padding: 10px 0;
}

.star-rating {
  color: gold;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
}
.star-current {
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}
